body{
    overflow-x: hidden;
}

.ov-x-hidden{
    overflow-x: hidden;
}

header .carousel-inner .carousel-caption h2{
    font-size: 50px;
}
      
@media(max-width : 500px){
    .adapt{
        font-size: 16px;  
    }

    header .carousel-inner .carousel-caption h2{
        font-size: 20px;
    }

    .logo{
        height: 40px;
        width: 40px;
    }
        
}

@media(max-width : 324px){
    .adapt{
        font-size: 11px;       
    }    
}


@media(max-width : 991px){
    .navbar-nav{
        text-align: center;
    }      
}

@media(max-width : 400px){
    .adapt{
        display: none;
    }       
}

.screen-adapt{
    height: 100vh;
    min-height: 500px;
    background: no-repeat center center scroll;
    background-size: cover;
}

header .carousel-caption{
    top: 50%;
    transform: translate(0%,-50%);
}

/**
    a-propos
*/
.img-container{
    background-color: rgb(255, 152, 68);
    position: relative;
    top: 0px;
}

.image{
    position: relative;
    right: -5%;
    left: auto;
    top: 20px;
}

.h2Style{
    width: 120px;
    height: 5px;
    background-color: rgb(255, 145, 0);
}

/****SideBar customisation*/

.slide-bar{
    position: fixed;
    width: 400px;
    top: 0px;
    right: -400px;
    bottom: 0px;
    z-index: 1031;
    color: aliceblue;
    transition: all 1s;
}

@media(max-width : 500px){
    .slide-bar{
        position: fixed;
        width: 100vw;
        top: 0px;
        right: -100vw;
        bottom: 0px;
        z-index: 1031;
        color: aliceblue;
        transition: all 1s;
    }
}

.side-active{
    right: 0px;
}

.slide-bar a{
    color: aliceblue;
}

.slide-bar ul{
    list-style: none;
    margin-top: 40px;
    text-align: center;
    padding: 0px;
}

.close-side{
    position: relative;
    width: 40px;
    height: 40px;
    border: 3px solid rgb(255, 255, 255);
    text-align: center;
    border-radius: 50%;
    padding-top: 4px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;

    left: 50%;
    transform: translate(-50%,0%);

    top: 25px;

}

.disp-none{
    display: none;
}

.wave{
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    fill: #ff7700;
    z-index: -1;
}

.lien{
    transition: color 0.5s;
}

.lien:hover{
    background-color: #ffae44;
}

.to400{
    transform: translateX(400px);
}

#big-move{
    transition: 0.5s ease-in-out;
}


/******************* Login-Form-Clean ********************/

.login-clean {
  background: #f1f7fc;
  padding: 80px 0;
}

.login-clean form {
  max-width: 320px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.login-clean .illustration {
  text-align: center;
  padding: 0 0 20px;
  font-size: 100px;
  color: rgb(244,71,107);
}

.login-clean form .form-control {
  background: #f7f9fc;
  border: none;
  border-bottom: 1px solid #dfe7f1;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: inherit;
  text-indent: 8px;
  height: 42px;
}

.login-clean form .btn-primary {
  background: #f4476b;
  border: none;
  border-radius: 4px;
  padding: 11px;
  box-shadow: none;
  margin-top: 26px;
  text-shadow: none;
  outline: none !important;
}

.login-clean form .btn-primary:hover, .login-clean form .btn-primary:active {
  background: #eb3b60;
}

.login-clean form .btn-primary:active {
  transform: translateY(1px);
}

.login-clean form .forgot {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6f7a85;
  opacity: 0.9;
  text-decoration: none;
}

.login-clean form .forgot:hover, .login-clean form .forgot:active {
  opacity: 1;
  text-decoration: none;
}


hr.star-dark,
hr.star-light {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: 0.25rem solid;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
hr.star-dark:after,
hr.star-light:after {
  position: relative;
  top: -0.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: "\f005";
  font-family: FontAwesome;
  font-size: 2em;
}
hr.star-dark {
    border-color: #2c3e50;
  }
  hr.star-dark:after {
    color: #2c3e50;
    background-color: #fff;
  }

  @media screen and (min-width:786px)
{
    .carte
    {
        margin-left: 20%;
        margin-right: 20%;
    }
}
.telephone:hover
{
    color: red;
}
.message
{
    margin: 0 3% 2%;
    text-align: justify;
    text-align-last: left;
}
.bouton{
    margin-left: 15%;
    width: 65%;
    box-sizing: border-box;
}
@media screen and (max-width:357px){
    .contact{
        white-space: nowrap;
    }
}